prod/agb.html
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Datenschultz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="main page">
    <meta name="keywords" content="words">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/img/fav/site.webmanifest">
    <link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#2ca688">
    <meta name="msapplication-config" content="/img/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.docura-min.css">
    <script></script>
    <script>
    </script>
  </head>
  <body>
    <noscript>
      <h2 class="h2-docura">Your browser does not support JavaScript!</h2>
    </noscript>
    <header class="docura-header">
      <div class="container-new">
        <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-header-logo" href="#"></a></div>
        <nav>
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li class="product"><a href="#produkte">Produkte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#furkunden">Für Kunden</a></li>
          </ul>
        </nav>
        <div class="mail">
          <div class="icon docura-mail-icon"></div><a href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
        </div>
      </div>
    </header>
    <section class="agb">
      <div class="agb__slide" style="background-image: url('img/agb.jpg')">
        <div class="container-new">
          <h4>ALLGEMEINE GESCHÄFTS BEDINGUNGEN bei NRV | WAAK</h4>
        </div>
      </div>
      <div class="container-new agb-content">
        <div class="agb-content__datenshutz">
          <h1>ALLGEMEINE GESCHÄFTS BEDINGUNGEN</h1>
          <div>
            <h6>1. Allgemeines</h6><br>
            <p>Die nachstehenden Allgemeinen Geschäftsbedingungen gelten für alle von XXV Versicherungsmakler GmbH & Co. KG Herbststr. 3, 83620 Feldkirchen-Westerham</p>
            <p>zur Verfügung gestellten Leistungen. Durch die Nutzung der Internetseiten und des Angebots von XXV Versicherungsmakler GmbH & Co. KG sowie der telefonischen</p>
            <p>und schriftlichen Beratung, gelten diese Bedingungen als verbindlich vereinbart.</p><br>
            <p>XXV Versicherungsmakler GmbH & Co. KG ist ständig um Richtigkeit und Aktualisierung des zugrunde liegenden Datenmaterials bemüht, kann dafür aber keinerlei</p>
            <p>Gewähr oder Haftung übernehmen. Insbesondere wird darauf hingewiesen, dass ein Vergleich der Versicherungsgesellschaften nur erfolgt, sobald dies gewünscht wird.</p><br>
            <p>Es kann weitere Angebote mit günstigeren oder teureren Beiträgen oder besseren Bedingungen geben.</p><br>
            <h6>2. Versicherungsvermittlung / Beratung</h6><br>
            <p>Der Kunde/ die Kundin wünscht die beantragte Versicherung mit dem gewählten Tarif, bei einer von XXV Versicherungsmakler GmbH & Co. KG angebotenen</p>
            <p>Versicherungsgesellschaft. Eine darüber hinausgehende  Beratung wird ausdrücklich nicht gewünscht, auch nicht für weitere existenzwichtige Versicherungen.</p>
            <p>Es wurde keine Basisberatung gewünscht.</p><br>
            <p>Hierzu folgender Hinweis:</p>
            <p>Ein Beratungsverzicht kann sich nachteilig auf die Möglichkeit des Versicherungsnehmers gegen den Versicherungsvermittler einen Schadenersatzanspruch</p>
            <p>nach § 42 e VersVermG (entspricht § 63 VVG) geltend zu machen auswirken.</p><br>
            <h6>3. Verweise und Links</h6><br>
            <p>Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit,</p>
            <p>Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich</p>
            <p>deutsches Recht.</p>
            <p>Es besteht ein Haftungsausschluss für Verweise und Links auf andere Internetseiten. Wir haben keinen Einfluss auf die Gestaltung und auf die Inhalte der</p>
            <p>verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein</p>
            <p>der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.</p><br>
            <h6>4. Einzelmaklervertrag:</h6><br>
            <p>Der Einzelmaklervertrag gilt ab dem Datum, ab dem der Antrag auf Versicherungsschutz über XXV Versicherungsmakler GmbH & Co. KG gestellt wird.</p>
            <p>Rechtsgültigkeit erlangt der Einzelmaklervertrag auch ohne Unterschrift für die vermittelte Versicherung.</p><br>
            <p>Der Einzelmaklervertrag gilt nur für die Betreuung und Verwaltung der vermittelten Versicherung. Nach Rücksprache mit dem</p>
            <p>Versicherungsnehmer dürfen Veränderungen oder Kündigungen vorgenommen werden. XXV Versicherungsmakler GmbH & CO. KG haftet nur mit</p>
            <p>der Höhe der gesetzlich vorgeschriebenen Berufshaftpflichtversicherung.</p><br>
            <p>Neben der Vermittlung und Verwaltung der Versicherungsverträge unterstützt XXV Versicherungsmakler GmbH & Co. KG den</p>
            <p>Versicherungsnehmer auf Wunsch bei der Schadensregulierung des vermittelten Vertrag.</p><br>
            <p>Die Tätigkeit von XXV Versicherungsmakler GmbH & Co. KG kann auch auf bereits bestehende Versicherungsverträge des Versicherungsnehmers</p>
            <p>ausgedehnt werden. Eine spätere Ausdehnung auf weitere oder andere schon bestehende Versicherungen des Versicherungsnehmers bedarf einer</p>
            <p>schriftlichen Vereinbarung.</p><br>
            <p>Änderungen der Risikoverhältnisse zeigt der Versicherungsnehmer unverzüglich dem Makler oder dem Versicherer an. Der Makler wird von Fall zu Fall tätig.</p>
            <p>Der Auftraggeber willigt ein, dass der Makler ihn zu Werbezwecken telefonisch, per E-Mail oder schriftlich kontaktieren darf. Diese Regelung gilt auch über</p>
            <p>die Beendigung des Maklervertrages hinaus, sofern der</p><br>
            <p>Auftraggeber sein Einverständnis nicht widerrufen hat. Der Widerruf zu dieser Regelung kann jederzeit erfolgen</p><br>
            <p>Ansprüche auf Schadenersatz aus dem Einzelmaklervertrag wegen einer fahrlässigen begangenen Pflichtverletzung verjähren in drei Jahren. Sollte eine</p>
            <p>Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtsprechung oder durch gesetzliche Regelungen   unwirksam werden oder sollte sich eine</p>
            <p>Lücke herausstellen, so hat dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Die nichtige Bestimmung oder die Schließung der Lücke hat</p>
            <p>durch eine Regelung zu erfolgen, die dem angestrebten Zweck am ehesten entspricht.</p><br>
            <h6>5. Datenschutz</h6><br>
            <p>Die Datenschutzerklärung finden Sie unten auf unserer Seite unter Datenschutz oder klicken sie hier: <a href="#">Datenschutz</a></p><br>
            <h6>6. Vergütung</h6><br>
            <p>Für unsere Tätigkeit fallen für den Kunden keine zusätzlichen Kosten an. Die Vergütung erfolgt als Courtage durch das Versicherungsunternehmen</p>
            <p>und ist Bestandteil der Versicherungsprämie. Die genannten Prämien sind Endprämien incl. Versicherungssteuer.</p><br>
            <h6>7. Vermögenss chadenhaftpfli chtversicherung</h6><br>
            <p>Es besteht die gesetzlich vorgeschriebene Vermögensschadenha ftpflichtversicherung.</p><br>
            <h6>8. Einwilligungserklärungen</h6><br>
            <p>XXV Versicherungsmakler GmbH & Co. KG</p>
            <p>Herbststr. 3</p>
            <p>83620 Feldkirchen – Westerham </p>
            <p>Telefon:+49 (0) 8063 461 400 0</p>
            <p>Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft, sondern von xxv24!)</p>
            <p>E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a></p>
            <p>Steuer-Nr. 156/183/02102</p>
            <p>Amtsgericht Traunstein, HRA 10549</p><br>
            <p>Komplementärin:</p>
            <p>XXV Versicherungsmakler Verwaltungs GmbH</p>
            <p>Herbststr. 3, 83620 Feldkirchen – Westerham</p>
            <p>Amtsgericht Traunstein, HRB 20441</p><br>
            <p class="bold">Geschäftsführung:</p><br>
            <p>Klaus Stübler</p><br>
            <p class="bold">Versicherungsve rmittlerregister:</p><br>
            <p><a href="https://www.vermittlerregister.info/" target="_blank">www.vermittlerregister.info</a></p><br>
            <p>Register-Nr.: D-MDZB-DR8JS-53</p><br>
            <p>Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler</p><br>
            <p>XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.</p><br>
            <p>Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines</p>
            <p>Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an</p>
            <p>XXV Versicherungsmakler GmbH & Co. KG.</p><br>
            <p class="bold">Schlichtungsstellen:</p><br>
            <p>Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin</p>
            <p><a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000</p><br>
            <p>Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin</p>
            <p><a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000</p><br>
            <h6>9. Inhalte</h6><br>
            <p>Inhalte und Texte ersetzen keine Beratung, sondern dienen nur zur Erstinformation. Daher übernehmen wir auch keine Haftung bei Rückfregen stehen wir Ihnen gerne unter <a href="mailto:info@xxv24.de">info@xxv24.de</a> zur Verfügung.</p><br>
            <h6>10. Schlussbestimmungen</h6><br>
            <p>Änderungen oder Ergänzungen dieser Allgemeinen Geschäftsbedingungen müssen ausdrücklich schriftlich zwischen den Parteien vereinbart werden.</p>
            <p>Sollte eine Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtssprechung oder durch gesetzliche Regelung unwirksam werden, so hat</p>
            <p>dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Eine unwirksame Bestimmung ist durch eine Regelung zu ersetzen, die dem angestrebten</p>
            <p>Zweck am ehesten entspricht. Gerichtsstand ist Traunstein.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="docura-footer">
      <div class="container-new">
        <div class="footer__main">
          <div class="footer__logos">
            <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div><a class="phone" href="tel:022199379931">0221 993 799 31</a><a class="mail" href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
          </div>
          <div class="footer-links-wrapper">
            <div class="footer__products">
              <ul>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
              </ul>
            </div>
            <div class="footer__legal">
              <ul>
                <li><a href="impressum.html">Impessum</a></li>
                <li><a href="datenschutz.html">Datenschutz</a></li>
                <li><a href="agb.html">AGB</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-docura">
      <div class="container-new">
        <div class="footer__year">© 2018 Docura | Waak</div>
      </div>
    </footer>
    <div class="container-new">
      <div class="nav-icon4"><span></span><span></span><span></span></div>
    </div>
    <div class="hiddenone visuallyhiddenone" id="burgerDocuraPopup">
      <div class="container-new">
        <header>
          <div class="burger-icons-wrapper"><a class="burger-logo" href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div>
          <div class="phone">
            <div class="icon docura-icon-header-phone"></div><a href="tel:022199379931">0221 993 799 31</a>
          </div>
        </header>
        <div class="burger-content">
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li><a href="#">Wie man schließt</a></li>
            <li><a href="#">Online Abschließen</a></li>
            <li><a href="#">Versicherter Vorgang</a></li>
            <li><a class="producte" href="#">Producte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="phone phone-footer">
            <div class="icon docura-icon-header-phone"></div><a href="tel:+ 49 431 54654-0">+ 49 431 54654-0</a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/html5shiv/html5shiv.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/relax/rellax.min.js"></script>
    <script type="text/javascript">
      var mrmoScrollToViewport = 1; / scroll die Website zum Anfang des iFrames /
      var mrmoScrollToViewportOffset = -20; / Versatz beim scrollen zum Anfang des iFrames, individuell je Website /
    </script>
    <script type="text/javascript" src="https://www.mr-money.de/iframeControls.js"></script>
    <script src="js/main.docura-min.js"></script>
  </body>
</html>

source/blocks/agb/agb.pug
section.agb
  .agb__slide(style="background-image: url('img/agb.jpg')")
    .container-new
      h4 ALLGEMEINE GESCHÄFTS BEDINGUNGEN bei NRV | WAAK
  .container-new.agb-content
    .agb-content__datenshutz
      h1 ALLGEMEINE GESCHÄFTS BEDINGUNGEN
      div
        h6 1. Allgemeines
        br
        p Die nachstehenden Allgemeinen Geschäftsbedingungen gelten für alle von XXV Versicherungsmakler GmbH & Co. KG Herbststr. 3, 83620 Feldkirchen-Westerham
        p zur Verfügung gestellten Leistungen. Durch die Nutzung der Internetseiten und des Angebots von XXV Versicherungsmakler GmbH & Co. KG sowie der telefonischen
        p und schriftlichen Beratung, gelten diese Bedingungen als verbindlich vereinbart.
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ständig um Richtigkeit und Aktualisierung des zugrunde liegenden Datenmaterials bemüht, kann dafür aber keinerlei
        p Gewähr oder Haftung übernehmen. Insbesondere wird darauf hingewiesen, dass ein Vergleich der Versicherungsgesellschaften nur erfolgt, sobald dies gewünscht wird.
        br
        p Es kann weitere Angebote mit günstigeren oder teureren Beiträgen oder besseren Bedingungen geben.
        br
        h6 2. Versicherungsvermittlung / Beratung
        br
        p Der Kunde/ die Kundin wünscht die beantragte Versicherung mit dem gewählten Tarif, bei einer von XXV Versicherungsmakler GmbH & Co. KG angebotenen
        p Versicherungsgesellschaft. Eine darüber hinausgehende  Beratung wird ausdrücklich nicht gewünscht, auch nicht für weitere existenzwichtige Versicherungen.
        p Es wurde keine Basisberatung gewünscht.
        br
        p Hierzu folgender Hinweis:
        p Ein Beratungsverzicht kann sich nachteilig auf die Möglichkeit des Versicherungsnehmers gegen den Versicherungsvermittler einen Schadenersatzanspruch
        p nach § 42 e VersVermG (entspricht § 63 VVG) geltend zu machen auswirken.
        br
        h6 3. Verweise und Links
        br
        p Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit,
        p Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich
        p deutsches Recht.

        p Es besteht ein Haftungsausschluss für Verweise und Links auf andere Internetseiten. Wir haben keinen Einfluss auf die Gestaltung und auf die Inhalte der
        p verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein
        p der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.
        br
        h6 4. Einzelmaklervertrag:
        br
        p Der Einzelmaklervertrag gilt ab dem Datum, ab dem der Antrag auf Versicherungsschutz über XXV Versicherungsmakler GmbH & Co. KG gestellt wird.
        p Rechtsgültigkeit erlangt der Einzelmaklervertrag auch ohne Unterschrift für die vermittelte Versicherung.
        br
        p Der Einzelmaklervertrag gilt nur für die Betreuung und Verwaltung der vermittelten Versicherung. Nach Rücksprache mit dem
        p Versicherungsnehmer dürfen Veränderungen oder Kündigungen vorgenommen werden. XXV Versicherungsmakler GmbH & CO. KG haftet nur mit
        p der Höhe der gesetzlich vorgeschriebenen Berufshaftpflichtversicherung.
        br
        p Neben der Vermittlung und Verwaltung der Versicherungsverträge unterstützt XXV Versicherungsmakler GmbH & Co. KG den
        p Versicherungsnehmer auf Wunsch bei der Schadensregulierung des vermittelten Vertrag.
        br
        p Die Tätigkeit von XXV Versicherungsmakler GmbH & Co. KG kann auch auf bereits bestehende Versicherungsverträge des Versicherungsnehmers
        p ausgedehnt werden. Eine spätere Ausdehnung auf weitere oder andere schon bestehende Versicherungen des Versicherungsnehmers bedarf einer
        p schriftlichen Vereinbarung.
        br
        p Änderungen der Risikoverhältnisse zeigt der Versicherungsnehmer unverzüglich dem Makler oder dem Versicherer an. Der Makler wird von Fall zu Fall tätig.
        p Der Auftraggeber willigt ein, dass der Makler ihn zu Werbezwecken telefonisch, per E-Mail oder schriftlich kontaktieren darf. Diese Regelung gilt auch über
        p die Beendigung des Maklervertrages hinaus, sofern der
        br
        p Auftraggeber sein Einverständnis nicht widerrufen hat. Der Widerruf zu dieser Regelung kann jederzeit erfolgen
        br
        p Ansprüche auf Schadenersatz aus dem Einzelmaklervertrag wegen einer fahrlässigen begangenen Pflichtverletzung verjähren in drei Jahren. Sollte eine
        p Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtsprechung oder durch gesetzliche Regelungen   unwirksam werden oder sollte sich eine
        p Lücke herausstellen, so hat dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Die nichtige Bestimmung oder die Schließung der Lücke hat
        p durch eine Regelung zu erfolgen, die dem angestrebten Zweck am ehesten entspricht.
        br
        h6 5. Datenschutz
        br
        p Die Datenschutzerklärung finden Sie unten auf unserer Seite unter Datenschutz oder klicken sie hier: <a href="#">Datenschutz</a>
        br
        h6 6. Vergütung
        br
        p Für unsere Tätigkeit fallen für den Kunden keine zusätzlichen Kosten an. Die Vergütung erfolgt als Courtage durch das Versicherungsunternehmen
        p und ist Bestandteil der Versicherungsprämie. Die genannten Prämien sind Endprämien incl. Versicherungssteuer.
        br
        h6 7. Vermögenss chadenhaftpfli chtversicherung
        br
        p Es besteht die gesetzlich vorgeschriebene Vermögensschadenha ftpflichtversicherung.
        br
        h6 8. Einwilligungserklärungen
        br
        p XXV Versicherungsmakler GmbH & Co. KG
        p Herbststr. 3
        p 83620 Feldkirchen – Westerham 
        p Telefon:+49 (0) 8063 461 400 0
        p Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft, sondern von xxv24!)
        p E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a>
        p Steuer-Nr. 156/183/02102
        p Amtsgericht Traunstein, HRA 10549
        br
        p Komplementärin:
        p XXV Versicherungsmakler Verwaltungs GmbH
        p Herbststr. 3, 83620 Feldkirchen – Westerham
        p Amtsgericht Traunstein, HRB 20441
        br
        p.bold Geschäftsführung:
        br
        p Klaus Stübler
        br
        p.bold Versicherungsve rmittlerregister:
        br
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.vermittlerregister.info</a>
        br
        p Register-Nr.: D-MDZB-DR8JS-53
        br
        p Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.
        br
        p Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines
        p Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an
        p XXV Versicherungsmakler GmbH & Co. KG.
        br
        p.bold Schlichtungsstellen:
        br
        p Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000
        br
        p Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000
        br
        h6 9. Inhalte
        br
        p Inhalte und Texte ersetzen keine Beratung, sondern dienen nur zur Erstinformation. Daher übernehmen wir auch keine Haftung bei Rückfregen stehen wir Ihnen gerne unter <a href="mailto:info@xxv24.de">info@xxv24.de</a> zur Verfügung.
        br
        h6 10. Schlussbestimmungen
        br
        p Änderungen oder Ergänzungen dieser Allgemeinen Geschäftsbedingungen müssen ausdrücklich schriftlich zwischen den Parteien vereinbart werden.
        p Sollte eine Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtssprechung oder durch gesetzliche Regelung unwirksam werden, so hat
        p dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Eine unwirksame Bestimmung ist durch eine Regelung zu ersetzen, die dem angestrebten
        p Zweck am ehesten entspricht. Gerichtsstand ist Traunstein.
