prod/datenschutz.html
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Datenschultz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="main page">
    <meta name="keywords" content="words">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/img/fav/site.webmanifest">
    <link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#2ca688">
    <meta name="msapplication-config" content="/img/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.docura-min.css">
    <script></script>
    <script>
    </script>
  </head>
  <body>
    <noscript>
      <h2 class="h2-docura">Your browser does not support JavaScript!</h2>
    </noscript>
    <header class="docura-header">
      <div class="container-new">
        <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-header-logo" href="#"></a></div>
        <nav>
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li class="product"><a href="#produkte">Produkte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#furkunden">Für Kunden</a></li>
          </ul>
        </nav>
        <div class="mail">
          <div class="icon docura-mail-icon"></div><a href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
        </div>
      </div>
    </header>
    <section class="datenshutz">
      <div class="datenshutz__slide" style="background-image: url('img/datenschutz.jpg')">
        <div class="container-new">
          <h4>Datenschutz bei NRV | WAAK</h4>
        </div>
      </div>
      <div class="container-new datenshutz-content">
        <div class="datenshutz-content__datenshutz">
          <h1>Informatio nspflichten gemäß Art. 13 DSGVO</h1>
          <div>
            <h6>1. NRV | Waak - vielfältig und leistungsstark</h6><br>
            <p>XXV Versicherungsmakler GmbH & Co. KG</p>
            <p>Herbststr. 3</p>
            <p>83620 Feldkirchen – Westerham</p>
            <p>Tel.: 08063 461 400 0</p>
            <p>Fax:  08063 972 139</p>
            <p>Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a></p><br>
            <p>Steuer-Nr. 156/183/02102</p>
            <p>Amtsgericht Traunstein, HRA 10549</p><br>
            <p>Komplementärin:</p><br>
            <p>XXV Versicherungsmakler Verwaltungs GmbH</p>
            <p>Herbststr. 3, 83620 Feldkirchen – Westerham</p>
            <p>Amtsgericht Traunstein, HRB 20441</p>
            <p>Geschäftsführer: Klaus Stübler</p><br>
            <h6>2. Verarbeitung personenbezogener Daten</h6><br>
            <p>Die Verarbeitung Ihrer personenbezogenen Daten umfasst das Speichern, Verändern, Übermitteln, Sperren und Löschen dieser Daten.</p>
            <p>Wir geben Ihre personenbezogenen Daten nicht ohne Ihre Zustimmung an Dritte weiter. Ausgenommen hiervon sind lediglich unsere Dienstleistungspartner, die wir zur Abwicklung des Vertragsverhältnisses benötigen. In diesen Fällen beachten wir strikt die Vorgaben des Bundesdatenschutzgesetzes. Der Umfang der Datenübermittlung beschränkt sich auf ein Mindestmaß.</p>
            <p>Sie stimmen der Verarbeitung Ihrer personenbezogenen Daten zu. Das Recht die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie unter Punkt 1.</p>
            <p>Ihre Daten werden auf Grundlage von Art. 6 Abs. 1 DSGVO verarbeitet.</p>
            <p>Die Bereitstellung Ihrer Daten erfolgt über eine Webanwendung im Internet. Die Vertraulichkeit, die Integrität (Unverletzlichkeit), die Authentizität (Echtheit) und die Verfügbarkeit der personenbezogenen Daten kann damit nicht garantiert werden. Ihre Daten können über die Webanwendung auch in Drittländern abgerufen werden, die keine der Bundesrepublik Deutschland vergleichbaren Datenschutzbestimmungen kennen.</p><br>
            <p>Nach der EU-Datenschutzgrundverordnung stehen Ihnen folgende Rechte zu:</p>
            <p>Werden Ihre personenbezogenen Daten verarbeitet, so haben Sie das Recht Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten (Art. 15 DSGVO). Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO). Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung einlegen (Art. 17, 18 und 21 DSGVO). Wenn Sie die erforderlichen Daten nicht angeben, - kann Ihr Antrag nicht bearbeitet werden. Wenn Sie in die Datenverarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).</p><br>
            <p>Zur Ausübung Ihrer Rechte wenden Sie sich bitte an die betriebliche Datenschutzbeauftragte</p>
            <p>Bayerisches Landesamt für Datenschutzaufsicht</p>
            <p>Promenade 27 (Schloss)</p>
            <p>91522 Ansbach</p>
            <p>Telefon: <a href="tel:+49 (0) 981 53 1300">+49 (0) 981 53 1300</a> </p>
            <p>Telefax: <a href="tel:+49 (0) 981 53 98 1300">+49 (0) 981 53 98 1300</a> </p>
            <p>E-Mail: <a href="mailto:info@xxv24.de">poststelle@lda.bayern.de</a></p><br>
            <h6>3. Empfänger von personenbezogenen Daten</h6><br>
            <p>a) Innerhalb vom Unternehmen:</p>
            <p>Innerhalb von unserem Unternehmen erhalten nur die Personen Zugriff auf Ihre Daten, die mit der Erfüllung der vertraglichen und gesetzlichen Pflichten nötig sind.</p>
            <p>b) Außerhalb des Unternehmens</p>
            <p>Informationen über Kunden dürfen grundsätzlich nur weitergegeben werden, wenn der Kunde eingewilligt hat und dies zur Erfüllung unserer Dienstleitung notwendig ist. Dies sind Öffentliche Stellen und Institutionen bei Vorliegen einer gesetzlichen oder behördlichen Verpflichtung und die entsprechenden Versicherungsunternehmen und Dienstleistungsunternehmen.</p><br>
            <h6>4. Dauer der Datenspeicherung</h6><br>
            <p>Die Daten werden solange gespeichert, wie dies vertraglich und gesetzlich vorgeschrieben ist. Die Zusammenarbeit besteht aus einem Einzel-Maklermandat, welches auf unbestimmte Zeit geschlossen wird und damit nicht befristet ist. Wenn die Daten nicht mehr erforderlich sind, werden diese in regelmäßigen Abständen gelöscht.</p><br>
            <h6>5. Datenschutzrecht</h6>
            <p>Jede betroffene Person hat das Recht auf Auskunft nach Art. 15 DSGVO, das Recht auf Berichtigung nach Art. 16 DSGVO, das Recht auf Löschung nach Art. 17 DSGVO, das Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO, das Recht auf Widerspruch aus Art. 21 DSGVO sowie das Recht auf Datenübertragbarkeit aus Art. 20 DSGVO. Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG. Darüber hinaus besteht ein Beschwerderecht bei einer zuständigen Datenschutzaufsichtsbehörde (Art. 77 DSGVO i.V.m. § 19 BDSG).</p><br>
            <p>Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie uns gegenüber jederzeit widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der DSGVO, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.</p><br>
            <h6>6. Aufsichtsbehörde:</h6><br>
            <p>Bayerisches Landesamt für Datenschutzaufsicht</p>
            <p>Postfach 606</p>
            <p>91511 Ansbach</p>
            <p>E-Mail: <a href="mailto:poststelle@lda.bayern.de">poststelle@lda.bayern.de</a></p>
            <p><a href="https://www.lda.bayern.de" target="_blank">https://www.lda.bayern.de</a></p><br>
            <h6>7. Zustimmung für die Online-Beantragung</h6><br>
            <p>Für die Online-Beantragung werden Daten wie IP-Adresse Datum und Uhrzeit an uns übermittelt und gespeichert.</p><br>
            <h6>8. Einwilligungserklärungen</h6><br>
            <p>Ich willige darin ein, dass im Rahmen einer Online-Beantragung und bei der Anforderung eines Angebotes für eine Versicherung im Bereich Kfz-Versicherung, Motorradversicherung und Kfz-Schutzbrief die IP-Adresse meines Computers und das entsprechende Datum und die Uhrzeit an CHECK24 Kfz-Versicherungen übermittelt und von dieser gespeichert werden darf, um mich und CHECK24 Kfz-Versicherungen vor einem Missbrauch der Daten zu schützen.</p><br>
            <h6>9. Cookies</h6><br>
            <p>Um den Funktionsumfang unseres Internetangebotes zu erweitern und die Nutzung für Sie komfortabler zu gestalten, verwenden wir so genannte „Cookies“. Mit Hilfe dieser „Cookies“ können bei dem Aufruf unserer Webseite Daten auf Ihrem Rechner gespeichert werden. Sie haben die Möglichkeit, das Abspeichern von Cookies auf Ihrem Rechner durch entsprechende Einstellungen in Ihrem Browser zu verhindern. Hierdurch könnten allerdings der Funktionsumfang unseres Angebotes eingeschränkt werden.</p><br>
            <p>Cookies enthalten keine personenbezogenen Daten.</p><br>
            <h6>10. Verweise und Links</h6><br>
            <p>Nähre Informationen finden Sie auf unserer Seite unter: Allgemeine Geschäftsbedingungen Punkt 3. Verweise und Links.</p><br>
            <h6>11. Auskunftsrecht</h6><br>
            <p>Als Nutzer unseres Internetangebotes haben Sie das Recht, von uns Auskunft über die zu Ihrer Person oder zu Ihrem Pseudonym gespeicherten Daten zu verlangen. Auf Ihr Verlangen kann die Auskunft auch elektronisch erteilt werden. Des Weiteren haben Sie jederzeit das Recht auf  Berichtigung, Löschung bzw. Sperrung Ihrer gespeicherten Daten.</p><br>
            <p>Die Kontaktdaten finden unter Punkt 1.</p><br>
            <h6>12. Einwilligung des Auftraggebers</h6><br>
            <p>Der Kunde willigt ein, dass XXV Versicherungsmakler GmbH & Co. KG personenbezogene Daten erhebt und speichert, soweit dies notwendig ist.</p><br>
            <p>Der Kunde willigt ein, dass die von XXV Versicherungsmakler GmbH & Co. KG angesprochenen Versicherer und sonstigen Produktgeber im erforderlichen Umfang Daten, die sich aus den Antragsunterlagen oder der Vertragsdurchführung (z. B. Beiträge, Versicherungsfälle, Risiko-/Vertragsänderung) ergeben,  an Versicherer zur Beurteilung des Risikos übermitteln. Diese Einwilligung gilt unabhängig vom Zustandekommen des Versicherungsvertrages auch für  entsprechende Prüfungen bei anderweitig beantragten Versicherungsverträgen und künftigen Anträgen.</p><br>
            <p>Der Kunde willigt ferner ein, dass diese Versicherer allgemeine Vertrags-, Abrechnungs- und Leistungsdaten in gemeinsamen Datensammlungen ihrer Versicherungsgruppe führen und wenn notwendig an XXV Versicherungsmakler GmbH & Co. KG weitergeben.</p><br>
            <p>Gesundheitsdaten dürfen nur an Personen- und Rückversicherer übermittelt werden. Der Versicherer darf sie nur bei Ärzten, Krankenhäusern und sonstigen Krankenanstalten, Pflegeheimen und Pflegepersonen, anderen Personenversicherern, gesetzlichen Krankenkassen sowie Berufsgenossenschaften und Behörden erheben. Die Datenerhebung ist nur zulässig, soweit die Kenntnis der Daten für die Beurteilung des zu versichernden Risikos oder der</p>
            <p>Leistungspflicht erforderlich ist.</p><br>
            <p>Diese Einwilligung kann jederzeit durch den Kunden widerrufen werden. Er kann jederzeit verlangen, Auskunft über seine gespeicherten Daten zu erhalten.  Er kann jederzeit die Löschung seiner Daten verlangen und der Erhebung der Daten widersprechen.</p><br>
            <h6>13. Nutzung personenbezogener Daten</h6><br>
            <p>Wir informieren darüber, dass die weitergehende Nutzung Ihrer persönlichen Daten zu Zwecken der Marktforschung und Zusendung von Werbung oder Newslettern nur mit Ihrer gesondert einzuholenden ausdrücklichen Zustimmung erfolgt. Das Recht, die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie in unserem Impressum.</p><br>
            <p>Der Kunde willigt ausdrücklich mit der Zustimmung der AGB‘s ein, dass ihn XXV Versicherungsmakler GmbH & Co. KG mittels sämtlicher Medien (z. B. Brief, Telefon, Telefax, E-Mail) kontaktieren und ihn – auch über die bestehende Geschäftsbeziehung hinaus – informieren darf. Dies gilt insbesondere für den Abschluss neuer Versicherungsverträge und bei inhaltlicher Änderung bestehender Verträge, wie deren Verlängerung, Ausweitung oder Ergänzung. Diese Einwilligung kann vom Auftraggeber jederzeit widerrufen oder eingeschränkt werden.</p><br>
            <h6>14. Nutzung von Google Analytics</h6><br>
            <p>Diese Internetseite verwendet Google Analytics, einen Internetanalysedienst von Google. Google Analytics nutzt so genannte Cookies (kleine Textdateien), die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch die Cookies erzeugten Informationen über Ihre Benutzung dieser Homepage (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Homepage-Betreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dieses gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung in Ihrer Browser-Software verhindern, wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website in vollem Umfang nutzen können. Durch die Nutzung dieser Homepage erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Wir informieren darüber, dass diese Webseite Google Analytics ausschließlich unter Verwendung eines Deaktivierungs-Add-on nutzt. Ihre IP-Adresse wird nicht vollständig gespeichert. Die Identifizierung des Besuchers der Webseite ist ausgeschlossen.</p><br>
            <h6>15. Google Adwords</h6><br>
            <p>Diese Website nutzt das Online-Werbeprogramm „Google AdWords“ und im Rahmen dessen das Conversion-Tracking. Das Cookie für Conversion-Tracking wird gesetzt, wenn ein Nutzer auf eine von Google geschaltete Anzeige klickt. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung. Besucht der Nutzer bestimmte Seiten dieser Website und das Cookie ist noch nicht abgelaufen, können wir und Google erkennen,</p>
            <p>dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet wurde. Jeder Google AdWords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die Websites von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen. Nutzer, die nicht am Tracking teilnehmen möchten, können das Cookie des Google Conversion-Trackings über ihren Internet-Browser unter Nutzereinstellungen leicht deaktivieren. Diese Nutzer werden nicht in die Conversion-Tracking Statistiken aufgenommen. Erfahren Sie mehr über die Google Datenschutzbestimmungen: <a href="http://www.google.de/privacy/privacy-policy.html" target="_blank">http://www.google.de/privacy/privacy-policy.html</a></p><br>
            <h6>16. Verwendung der Google „+1“-Schaltfläche</h6><br>
            <p>Auf diesen Internetseiten wird die „+1“-Schaltfläche des sozialen Netzwerkes Google Plus der Google Inc., 1600 Amphitheatre Parkway, Mountain View, Kalifornien, 94043 USA, (nachfolgend „Google“) verwendet. Wenn Sie eine mit der „+1“-Schaltfläche versehene Internetseite unserer Internetpräsenz aufrufen, wird eine Verbindung zu den Google-Servern hergestellt und dabei die Schaltfläche durch Mitteilung an Ihren Browser auf der Internetseite dargestellt. Hierdurch wird an den Google-Server übermittelt, welche unserer Internetseiten Sie besucht haben. Die „+1“- Schaltfläche wird nicht verwendet, um Ihre Besuche im Internet zu erfassen. Google protokolliert beim Anzeigen einer „+1“-Schaltfläche nicht dauerhaft Ihren Browserverlauf und wertet Ihren Besuch auf einer Seite mit „+1“-Schaltfläche auch nicht in anderer Weise aus. Google speichert etwa zwei Wochen Daten über Ihren Besuch zu Systemwartungs- und Fehlerbehebungszwecken. Diese Daten sind jedoch nicht nach individuellen Profilen, Nutzernamen oder URLs strukturiert und werden auch nicht an uns weitergeleitet. Falls Sie bei Google Plus eingeloggt sind und die „+1“-Schaltfläche bedienen erfasst Google Informationen über Ihr Google-Profil, die von Ihnen empfohlene URL, Ihre IP-Adresse und andere browserbezogenen Informationen. Wenn Sie Ihre +1 zurücknehmen, werden diese Informationen gelöscht. Falls Sie in den Einstellungen von Google Plus Ihr Profil öffentlich zugänglich gemacht haben, können Ihre „+1“ von Google als Hinweise zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden. Wenn Sie nicht möchten, dass Google in der vorgenannten Weise Ihre Daten erhebt und nutzt, müssen Sie sich vor dem Besuch unserer Seite bei Google Plus ausloggen. Nähere Informationen zur Erhebung und Nutzung der Daten durch Google, über Ihre diesbezüglichen Rechte und Möglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in den Datenschutzhinweisen von Google: <a href="http://www.google.com/intl/de/+/policy/+1button.html" targer="_blank">http://www.google.com/intl/de/+/policy/+1button.html</a></p><br>
            <h6>17. SSL-Verschlüsselung</h6><br>
            <p>Zur Übertragung der Daten nutzen wir eine der sichersten Technologien, die sogenannte “Secure Socket Layer”-Übertragung, auch unter SSL-Verschlüsselung bekannt. Alle mit dieser sicheren Methode übertragenen Informationen und Daten werden verschlüsselt, bevor Sie an uns gesendet werden. Das gilt insbesondere für alle personengebundenen Kundendaten, wie Kreditkartennummer, Bankleitzahl, Bankkontonummer, Name und Adresse. Um Sie und uns darüber hinaus vor Missbrauch zu schützen, wird bei Online-Vertragsabschlüssen die IP-Adresse Ihres Computers an uns übermittelt.</p><br>
            <h6>18. Fragen, Anregung und Beschwerden</h6><br>
            <p>Bei Fragen, Anregungen und Beschwerde wenden Sie sich bitte an uns. Alle Kontaktdaten finden Sie unter Punkt 1.</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="docura-footer">
      <div class="container-new">
        <div class="footer__main">
          <div class="footer__logos">
            <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div><a class="phone" href="tel:022199379931">0221 993 799 31</a><a class="mail" href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
          </div>
          <div class="footer-links-wrapper">
            <div class="footer__products">
              <ul>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
              </ul>
            </div>
            <div class="footer__legal">
              <ul>
                <li><a href="impressum.html">Impessum</a></li>
                <li><a href="datenschutz.html">Datenschutz</a></li>
                <li><a href="agb.html">AGB</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-docura">
      <div class="container-new">
        <div class="footer__year">© 2018 Docura | Waak</div>
      </div>
    </footer>
    <div class="container-new">
      <div class="nav-icon4"><span></span><span></span><span></span></div>
    </div>
    <div class="hiddenone visuallyhiddenone" id="burgerDocuraPopup">
      <div class="container-new">
        <header>
          <div class="burger-icons-wrapper"><a class="burger-logo" href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div>
          <div class="phone">
            <div class="icon docura-icon-header-phone"></div><a href="tel:022199379931">0221 993 799 31</a>
          </div>
        </header>
        <div class="burger-content">
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li><a href="#">Wie man schließt</a></li>
            <li><a href="#">Online Abschließen</a></li>
            <li><a href="#">Versicherter Vorgang</a></li>
            <li><a class="producte" href="#">Producte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="phone phone-footer">
            <div class="icon docura-icon-header-phone"></div><a href="tel:+ 49 431 54654-0">+ 49 431 54654-0</a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/html5shiv/html5shiv.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/relax/rellax.min.js"></script>
    <script type="text/javascript">
      var mrmoScrollToViewport = 1; / scroll die Website zum Anfang des iFrames /
      var mrmoScrollToViewportOffset = -20; / Versatz beim scrollen zum Anfang des iFrames, individuell je Website /
    </script>
    <script type="text/javascript" src="https://www.mr-money.de/iframeControls.js"></script>
    <script src="js/main.docura-min.js"></script>
  </body>
</html>

source/blocks/datenschutz/datenschutz.pug
section.datenshutz
  .datenshutz__slide(style="background-image: url('img/datenschutz.jpg')")
    .container-new
      h4 Datenschutz bei NRV | WAAK
  .container-new.datenshutz-content
    .datenshutz-content__datenshutz
      h1 Informatio nspflichten gemäß Art. 13 DSGVO
      div
        h6 1. NRV | Waak - vielfältig und leistungsstark
        br
        p XXV Versicherungsmakler GmbH & Co. KG
        p Herbststr. 3
        p 83620 Feldkirchen – Westerham
        p Tel.: 08063 461 400 0
        p Fax:  08063 972 139
        p Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a>
        br
        p Steuer-Nr. 156/183/02102
        p Amtsgericht Traunstein, HRA 10549
        br
        p Komplementärin:
        br
        p XXV Versicherungsmakler Verwaltungs GmbH
        p Herbststr. 3, 83620 Feldkirchen – Westerham
        p Amtsgericht Traunstein, HRB 20441
        p Geschäftsführer: Klaus Stübler
        br
        h6 2. Verarbeitung personenbezogener Daten
        br
        p Die Verarbeitung Ihrer personenbezogenen Daten umfasst das Speichern, Verändern, Übermitteln, Sperren und Löschen dieser Daten.
        p Wir geben Ihre personenbezogenen Daten nicht ohne Ihre Zustimmung an Dritte weiter. Ausgenommen hiervon sind lediglich unsere Dienstleistungspartner, die wir zur Abwicklung des Vertragsverhältnisses benötigen. In diesen Fällen beachten wir strikt die Vorgaben des Bundesdatenschutzgesetzes. Der Umfang der Datenübermittlung beschränkt sich auf ein Mindestmaß.
        p Sie stimmen der Verarbeitung Ihrer personenbezogenen Daten zu. Das Recht die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie unter Punkt 1.
        p Ihre Daten werden auf Grundlage von Art. 6 Abs. 1 DSGVO verarbeitet.
        p Die Bereitstellung Ihrer Daten erfolgt über eine Webanwendung im Internet. Die Vertraulichkeit, die Integrität (Unverletzlichkeit), die Authentizität (Echtheit) und die Verfügbarkeit der personenbezogenen Daten kann damit nicht garantiert werden. Ihre Daten können über die Webanwendung auch in Drittländern abgerufen werden, die keine der Bundesrepublik Deutschland vergleichbaren Datenschutzbestimmungen kennen.
        br
        p Nach der EU-Datenschutzgrundverordnung stehen Ihnen folgende Rechte zu:
        p Werden Ihre personenbezogenen Daten verarbeitet, so haben Sie das Recht Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten (Art. 15 DSGVO). Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO). Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung einlegen (Art. 17, 18 und 21 DSGVO). Wenn Sie die erforderlichen Daten nicht angeben, - kann Ihr Antrag nicht bearbeitet werden. Wenn Sie in die Datenverarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).
        br
        p Zur Ausübung Ihrer Rechte wenden Sie sich bitte an die betriebliche Datenschutzbeauftragte
        p Bayerisches Landesamt für Datenschutzaufsicht
        p Promenade 27 (Schloss)
        p 91522 Ansbach
        p Telefon: <a href="tel:+49 (0) 981 53 1300">+49 (0) 981 53 1300</a> 
        p Telefax: <a href="tel:+49 (0) 981 53 98 1300">+49 (0) 981 53 98 1300</a> 
        p E-Mail: <a href="mailto:info@xxv24.de">poststelle@lda.bayern.de</a>
        br
        h6 3. Empfänger von personenbezogenen Daten
        br
        p a) Innerhalb vom Unternehmen:
        p Innerhalb von unserem Unternehmen erhalten nur die Personen Zugriff auf Ihre Daten, die mit der Erfüllung der vertraglichen und gesetzlichen Pflichten nötig sind.
        p b) Außerhalb des Unternehmens
        p Informationen über Kunden dürfen grundsätzlich nur weitergegeben werden, wenn der Kunde eingewilligt hat und dies zur Erfüllung unserer Dienstleitung notwendig ist. Dies sind Öffentliche Stellen und Institutionen bei Vorliegen einer gesetzlichen oder behördlichen Verpflichtung und die entsprechenden Versicherungsunternehmen und Dienstleistungsunternehmen.
        br
        h6 4. Dauer der Datenspeicherung
        br
        p Die Daten werden solange gespeichert, wie dies vertraglich und gesetzlich vorgeschrieben ist. Die Zusammenarbeit besteht aus einem Einzel-Maklermandat, welches auf unbestimmte Zeit geschlossen wird und damit nicht befristet ist. Wenn die Daten nicht mehr erforderlich sind, werden diese in regelmäßigen Abständen gelöscht.
        br
        h6 5. Datenschutzrecht
        p Jede betroffene Person hat das Recht auf Auskunft nach Art. 15 DSGVO, das Recht auf Berichtigung nach Art. 16 DSGVO, das Recht auf Löschung nach Art. 17 DSGVO, das Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO, das Recht auf Widerspruch aus Art. 21 DSGVO sowie das Recht auf Datenübertragbarkeit aus Art. 20 DSGVO. Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG. Darüber hinaus besteht ein Beschwerderecht bei einer zuständigen Datenschutzaufsichtsbehörde (Art. 77 DSGVO i.V.m. § 19 BDSG).
        br
        p Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie uns gegenüber jederzeit widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der DSGVO, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.
        br
        h6 6. Aufsichtsbehörde:
        br
        p Bayerisches Landesamt für Datenschutzaufsicht
        p Postfach 606
        p 91511 Ansbach
        p E-Mail: <a href="mailto:poststelle@lda.bayern.de">poststelle@lda.bayern.de</a>
        p <a href="https://www.lda.bayern.de" target="_blank">https://www.lda.bayern.de</a>
        br
        h6 7. Zustimmung für die Online-Beantragung
        br
        p Für die Online-Beantragung werden Daten wie IP-Adresse Datum und Uhrzeit an uns übermittelt und gespeichert.
        br
        h6 8. Einwilligungserklärungen
        br
        p Ich willige darin ein, dass im Rahmen einer Online-Beantragung und bei der Anforderung eines Angebotes für eine Versicherung im Bereich Kfz-Versicherung, Motorradversicherung und Kfz-Schutzbrief die IP-Adresse meines Computers und das entsprechende Datum und die Uhrzeit an CHECK24 Kfz-Versicherungen übermittelt und von dieser gespeichert werden darf, um mich und CHECK24 Kfz-Versicherungen vor einem Missbrauch der Daten zu schützen.
        br
        h6 9. Cookies
        br
        p Um den Funktionsumfang unseres Internetangebotes zu erweitern und die Nutzung für Sie komfortabler zu gestalten, verwenden wir so genannte „Cookies“. Mit Hilfe dieser „Cookies“ können bei dem Aufruf unserer Webseite Daten auf Ihrem Rechner gespeichert werden. Sie haben die Möglichkeit, das Abspeichern von Cookies auf Ihrem Rechner durch entsprechende Einstellungen in Ihrem Browser zu verhindern. Hierdurch könnten allerdings der Funktionsumfang unseres Angebotes eingeschränkt werden.
        br
        p Cookies enthalten keine personenbezogenen Daten.
        br
        h6 10. Verweise und Links
        br
        p Nähre Informationen finden Sie auf unserer Seite unter: Allgemeine Geschäftsbedingungen Punkt 3. Verweise und Links.
        br
        h6 11. Auskunftsrecht
        br
        p Als Nutzer unseres Internetangebotes haben Sie das Recht, von uns Auskunft über die zu Ihrer Person oder zu Ihrem Pseudonym gespeicherten Daten zu verlangen. Auf Ihr Verlangen kann die Auskunft auch elektronisch erteilt werden. Des Weiteren haben Sie jederzeit das Recht auf  Berichtigung, Löschung bzw. Sperrung Ihrer gespeicherten Daten.
        br
        p Die Kontaktdaten finden unter Punkt 1.
        br
        h6 12. Einwilligung des Auftraggebers
        br
        p Der Kunde willigt ein, dass XXV Versicherungsmakler GmbH & Co. KG personenbezogene Daten erhebt und speichert, soweit dies notwendig ist.
        br
        p Der Kunde willigt ein, dass die von XXV Versicherungsmakler GmbH & Co. KG angesprochenen Versicherer und sonstigen Produktgeber im erforderlichen Umfang Daten, die sich aus den Antragsunterlagen oder der Vertragsdurchführung (z. B. Beiträge, Versicherungsfälle, Risiko-/Vertragsänderung) ergeben,  an Versicherer zur Beurteilung des Risikos übermitteln. Diese Einwilligung gilt unabhängig vom Zustandekommen des Versicherungsvertrages auch für  entsprechende Prüfungen bei anderweitig beantragten Versicherungsverträgen und künftigen Anträgen.
        br
        p Der Kunde willigt ferner ein, dass diese Versicherer allgemeine Vertrags-, Abrechnungs- und Leistungsdaten in gemeinsamen Datensammlungen ihrer Versicherungsgruppe führen und wenn notwendig an XXV Versicherungsmakler GmbH & Co. KG weitergeben.
        br
        p Gesundheitsdaten dürfen nur an Personen- und Rückversicherer übermittelt werden. Der Versicherer darf sie nur bei Ärzten, Krankenhäusern und sonstigen Krankenanstalten, Pflegeheimen und Pflegepersonen, anderen Personenversicherern, gesetzlichen Krankenkassen sowie Berufsgenossenschaften und Behörden erheben. Die Datenerhebung ist nur zulässig, soweit die Kenntnis der Daten für die Beurteilung des zu versichernden Risikos oder der
        p Leistungspflicht erforderlich ist.
        br
        p Diese Einwilligung kann jederzeit durch den Kunden widerrufen werden. Er kann jederzeit verlangen, Auskunft über seine gespeicherten Daten zu erhalten.  Er kann jederzeit die Löschung seiner Daten verlangen und der Erhebung der Daten widersprechen.
        br
        h6 13. Nutzung personenbezogener Daten
        br
        p Wir informieren darüber, dass die weitergehende Nutzung Ihrer persönlichen Daten zu Zwecken der Marktforschung und Zusendung von Werbung oder Newslettern nur mit Ihrer gesondert einzuholenden ausdrücklichen Zustimmung erfolgt. Das Recht, die Einwilligung mit Wirkung für die Zukunft zu widerrufen steht Ihnen uneingeschränkt zu. Die Kontaktdaten für die Ausübung des Widerrufs finden Sie in unserem Impressum.
        br
        p Der Kunde willigt ausdrücklich mit der Zustimmung der AGB‘s ein, dass ihn XXV Versicherungsmakler GmbH & Co. KG mittels sämtlicher Medien (z. B. Brief, Telefon, Telefax, E-Mail) kontaktieren und ihn – auch über die bestehende Geschäftsbeziehung hinaus – informieren darf. Dies gilt insbesondere für den Abschluss neuer Versicherungsverträge und bei inhaltlicher Änderung bestehender Verträge, wie deren Verlängerung, Ausweitung oder Ergänzung. Diese Einwilligung kann vom Auftraggeber jederzeit widerrufen oder eingeschränkt werden.
        br
        h6 14. Nutzung von Google Analytics
        br
        p Diese Internetseite verwendet Google Analytics, einen Internetanalysedienst von Google. Google Analytics nutzt so genannte Cookies (kleine Textdateien), die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch die Cookies erzeugten Informationen über Ihre Benutzung dieser Homepage (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Homepage-Betreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dieses gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung in Ihrer Browser-Software verhindern, wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website in vollem Umfang nutzen können. Durch die Nutzung dieser Homepage erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Wir informieren darüber, dass diese Webseite Google Analytics ausschließlich unter Verwendung eines Deaktivierungs-Add-on nutzt. Ihre IP-Adresse wird nicht vollständig gespeichert. Die Identifizierung des Besuchers der Webseite ist ausgeschlossen.
        br
        h6 15. Google Adwords
        br
        p Diese Website nutzt das Online-Werbeprogramm „Google AdWords“ und im Rahmen dessen das Conversion-Tracking. Das Cookie für Conversion-Tracking wird gesetzt, wenn ein Nutzer auf eine von Google geschaltete Anzeige klickt. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung. Besucht der Nutzer bestimmte Seiten dieser Website und das Cookie ist noch nicht abgelaufen, können wir und Google erkennen,
        p dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet wurde. Jeder Google AdWords-Kunde erhält ein anderes Cookie. Cookies können somit nicht über die Websites von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen. Nutzer, die nicht am Tracking teilnehmen möchten, können das Cookie des Google Conversion-Trackings über ihren Internet-Browser unter Nutzereinstellungen leicht deaktivieren. Diese Nutzer werden nicht in die Conversion-Tracking Statistiken aufgenommen. Erfahren Sie mehr über die Google Datenschutzbestimmungen: <a href="http://www.google.de/privacy/privacy-policy.html" target="_blank">http://www.google.de/privacy/privacy-policy.html</a>
        br
        h6 16. Verwendung der Google „+1“-Schaltfläche
        br
        p Auf diesen Internetseiten wird die „+1“-Schaltfläche des sozialen Netzwerkes Google Plus der Google Inc., 1600 Amphitheatre Parkway, Mountain View, Kalifornien, 94043 USA, (nachfolgend „Google“) verwendet. Wenn Sie eine mit der „+1“-Schaltfläche versehene Internetseite unserer Internetpräsenz aufrufen, wird eine Verbindung zu den Google-Servern hergestellt und dabei die Schaltfläche durch Mitteilung an Ihren Browser auf der Internetseite dargestellt. Hierdurch wird an den Google-Server übermittelt, welche unserer Internetseiten Sie besucht haben. Die „+1“- Schaltfläche wird nicht verwendet, um Ihre Besuche im Internet zu erfassen. Google protokolliert beim Anzeigen einer „+1“-Schaltfläche nicht dauerhaft Ihren Browserverlauf und wertet Ihren Besuch auf einer Seite mit „+1“-Schaltfläche auch nicht in anderer Weise aus. Google speichert etwa zwei Wochen Daten über Ihren Besuch zu Systemwartungs- und Fehlerbehebungszwecken. Diese Daten sind jedoch nicht nach individuellen Profilen, Nutzernamen oder URLs strukturiert und werden auch nicht an uns weitergeleitet. Falls Sie bei Google Plus eingeloggt sind und die „+1“-Schaltfläche bedienen erfasst Google Informationen über Ihr Google-Profil, die von Ihnen empfohlene URL, Ihre IP-Adresse und andere browserbezogenen Informationen. Wenn Sie Ihre +1 zurücknehmen, werden diese Informationen gelöscht. Falls Sie in den Einstellungen von Google Plus Ihr Profil öffentlich zugänglich gemacht haben, können Ihre „+1“ von Google als Hinweise zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden. Wenn Sie nicht möchten, dass Google in der vorgenannten Weise Ihre Daten erhebt und nutzt, müssen Sie sich vor dem Besuch unserer Seite bei Google Plus ausloggen. Nähere Informationen zur Erhebung und Nutzung der Daten durch Google, über Ihre diesbezüglichen Rechte und Möglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in den Datenschutzhinweisen von Google: <a href="http://www.google.com/intl/de/+/policy/+1button.html" targer="_blank">http://www.google.com/intl/de/+/policy/+1button.html</a>
        br
        h6 17. SSL-Verschlüsselung
        br
        p Zur Übertragung der Daten nutzen wir eine der sichersten Technologien, die sogenannte “Secure Socket Layer”-Übertragung, auch unter SSL-Verschlüsselung bekannt. Alle mit dieser sicheren Methode übertragenen Informationen und Daten werden verschlüsselt, bevor Sie an uns gesendet werden. Das gilt insbesondere für alle personengebundenen Kundendaten, wie Kreditkartennummer, Bankleitzahl, Bankkontonummer, Name und Adresse. Um Sie und uns darüber hinaus vor Missbrauch zu schützen, wird bei Online-Vertragsabschlüssen die IP-Adresse Ihres Computers an uns übermittelt.
        br
        h6 18. Fragen, Anregung und Beschwerden
        br 
        p Bei Fragen, Anregungen und Beschwerde wenden Sie sich bitte an uns. Alle Kontaktdaten finden Sie unter Punkt 1.
