prod/impressum.html
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Impressum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="main page">
    <meta name="keywords" content="words">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/img/fav/site.webmanifest">
    <link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#2ca688">
    <meta name="msapplication-config" content="/img/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.docura-min.css">
    <script></script>
    <script>
    </script>
  </head>
  <body>
    <noscript>
      <h2 class="h2-docura">Your browser does not support JavaScript!</h2>
    </noscript>
    <header class="docura-header">
      <div class="container-new">
        <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-header-logo" href="#"></a></div>
        <nav>
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li class="product"><a href="#produkte">Produkte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#furkunden">Für Kunden</a></li>
          </ul>
        </nav>
        <div class="mail">
          <div class="icon docura-mail-icon"></div><a href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
        </div>
      </div>
    </header>
    <section class="impressum-header">
      <div class="impressum-header__slide" style="background-image: url('img/impressum-header.jpg')">
        <div class="container-new">
          <h4>Impressum bei NRV | WAAK</h4>
        </div>
      </div>
      <div class="container-new impressum-content">
        <div class="impressum-content__achtung">
          <h3>ACHTUNG!</h3>
          <div>
            <p>Wir sind Versicherungsmakler und keine Versicherung!</p>
            <p>Bitte wenden Sie sich nur an uns, wenn Sie Interesse an einer neuen Versicherung haben oder bereits unser Kunde sind.</p>
            <p>Ansonsten wenden Sie sich bitte immer direkt an Ihre Versicherung.</p>
            <p>Unterlagen die doch an uns geschickt werden, können wir aus rechtlichen Gründen nicht bearbeiten oder weiterleiten!</p>
          </div>
        </div>
        <div class="impressum-content__impressum">
          <h3>IMPRESSUM</h3>
          <div>
            <p>XXV Versicherungsmakler GmbH & Co. KG</p>
            <p>Herbststr. 3</p>
            <p>83620 Feldkirchen – Westerham</p><br>
            <p>Telefon:+49 (0) 8063 461 400 0</p>
            <p>Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft! Siehe Anmerkung oben!)</p>
            <p>E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a></p><br>
            <p>Steuer-Nr. 156/183/02102</p>
            <p>Amtsgericht Traunstein, HRA 10549</p><br>
            <p>Komplementärin:</p><br>
            <p>XXV Versicherungsmakler Verwaltungs GmbH</p>
            <p>Herbststr. 3, 83620 Feldkirchen – Westerham</p><br>
            <p>Amtsgericht Traunstein, HRB 20441</p><br>
            <p>Versicherungsvermittlerregister:</p>
            <p><a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a></p>
            <p>Register-Nr.: D-MDZB-DR8JS-53</p><br>
            <p>Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler</p>
            <p>erteilt durch die IHK für München und Oberbayern, Max-Joseph-Str. 2, 80333 München</p><br>
            <p>Deutscher Industrie- und Handelskammer (DIHK) e.V., Breite Straße 29, 10178 Berlin, Telefon: 0180 600 58 50 (Festnetzpreis 0,20 €/ Anruf; Mobilfunkpreise maximal 0,60 €/ Anruf) <a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a></p><br>
            <p>XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.</p><br>
            <p>Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital unserer Unternehmen.</p><br>
            <p>Schlichtungsstellen:</p><br>
            <p>Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin</p>
            <p><a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000</p><br>
            <p>Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin</p>
            <p><a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000</p><br>
            <p>Rechtshinweise: Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit, Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich deutsches Recht.</p><br>
            <p>Haftungsausschluss für Verweise und Links: XXV Versicherungsmakler GmbH & Co. KG übernimmt keine Haftung für Links/ Verweise zu anderen Internet-Seiten. XXV Versicherungsmakler GmbH & Co. KG hat keinen Einfluss auf die Gestaltung und auf die Inhalte der verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.</p><br>
            <p>Hinweis zur EU-Verordnung Online-Streitbeteiligung (OS-Plattform):</p>
            <p>Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie hier finden <a href="http://ec.europa.eu/consumers/odr/" target='_blank'> http://ec.europa.eu/consumers/odr/</a>. Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.</p><br>
            <p>Icons von <a href="#" target='_blank'>icons8</a></p>
          </div>
        </div>
      </div>
    </section>
    <footer class="docura-footer">
      <div class="container-new">
        <div class="footer__main">
          <div class="footer__logos">
            <div class="logos"><a href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div><a class="phone" href="tel:022199379931">0221 993 799 31</a><a class="mail" href="mailto:info@waak-versicherungen.de">info@waak-versicherungen.de</a>
          </div>
          <div class="footer-links-wrapper">
            <div class="footer__products">
              <ul>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
                <li><a href="product.html">Privathaftpflicht</a></li>
                <li><a href="product.html">Hausrat</a></li>
              </ul>
            </div>
            <div class="footer__legal">
              <ul>
                <li><a href="impressum.html">Impessum</a></li>
                <li><a href="datenschutz.html">Datenschutz</a></li>
                <li><a href="agb.html">AGB</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-docura">
      <div class="container-new">
        <div class="footer__year">© 2018 Docura | Waak</div>
      </div>
    </footer>
    <div class="container-new">
      <div class="nav-icon4"><span></span><span></span><span></span></div>
    </div>
    <div class="hiddenone visuallyhiddenone" id="burgerDocuraPopup">
      <div class="container-new">
        <header>
          <div class="burger-icons-wrapper"><a class="burger-logo" href="#"><img src="img/docura-logo.png" alt="docura-logo"></a><a class="icon docura-icon-waak-small-logo" href="#"></a></div>
          <div class="phone">
            <div class="icon docura-icon-header-phone"></div><a href="tel:022199379931">0221 993 799 31</a>
          </div>
        </header>
        <div class="burger-content">
          <ul>
            <li><a href="#vorteile">Vorteile</a></li>
            <li><a href="#">Wie man schließt</a></li>
            <li><a href="#">Online Abschließen</a></li>
            <li><a href="#">Versicherter Vorgang</a></li>
            <li><a class="producte" href="#">Producte</a><img src="img/icons/header-arrow.svg" alt="header-arrow">
              <div class="submenu-wrapper">
                <ul>
                  <li><a href="product.html">Wohngebäudeversicherung</a></li>
                  <li><a href="product.html">Hausratversicherung</a></li>
                  <li><a href="product.html">Rechtsschutzversicherung</a></li>
                  <li><a href="product.html">Tierhalterhaftpflicht</a></li>
                  <li><a href="product.html">Unfallversicherung</a></li>
                  <li><a href="product.html">Privathaftpflichtversicherung</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="phone phone-footer">
            <div class="icon docura-icon-header-phone"></div><a href="tel:+ 49 431 54654-0">+ 49 431 54654-0</a>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/html5shiv/html5shiv.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/relax/rellax.min.js"></script>
    <script type="text/javascript">
      var mrmoScrollToViewport = 1; / scroll die Website zum Anfang des iFrames /
      var mrmoScrollToViewportOffset = -20; / Versatz beim scrollen zum Anfang des iFrames, individuell je Website /
    </script>
    <script type="text/javascript" src="https://www.mr-money.de/iframeControls.js"></script>
    <script src="js/main.docura-min.js"></script>
  </body>
</html>

source/blocks/impressum/impressum.pug
section.impressum-header
  .impressum-header__slide(style="background-image: url('img/impressum-header.jpg')")
    .container-new
      h4 Impressum bei NRV | WAAK
  .container-new.impressum-content
    .impressum-content__achtung
      h3 ACHTUNG!
      div
        p Wir sind Versicherungsmakler und keine Versicherung!
        p Bitte wenden Sie sich nur an uns, wenn Sie Interesse an einer neuen Versicherung haben oder bereits unser Kunde sind.
        p Ansonsten wenden Sie sich bitte immer direkt an Ihre Versicherung.
        p Unterlagen die doch an uns geschickt werden, können wir aus rechtlichen Gründen nicht bearbeiten oder weiterleiten!
    .impressum-content__impressum
      h3 IMPRESSUM
      div
        p XXV Versicherungsmakler GmbH & Co. KG
        p Herbststr. 3
        p 83620 Feldkirchen – Westerham
        br
        p Telefon:+49 (0) 8063 461 400 0
        p Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft! Siehe Anmerkung oben!)
        p E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a>
        br
        p Steuer-Nr. 156/183/02102
        p Amtsgericht Traunstein, HRA 10549
        br
        p Komplementärin:
        br
        p XXV Versicherungsmakler Verwaltungs GmbH
        p Herbststr. 3, 83620 Feldkirchen – Westerham
        br
        p Amtsgericht Traunstein, HRB 20441
        br
        p Versicherungsvermittlerregister:
        p <a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a>
        p Register-Nr.: D-MDZB-DR8JS-53
        br
        p Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler
        p erteilt durch die IHK für München und Oberbayern, Max-Joseph-Str. 2, 80333 München
        br
        p Deutscher Industrie- und Handelskammer (DIHK) e.V., Breite Straße 29, 10178 Berlin, Telefon: 0180 600 58 50 (Festnetzpreis 0,20 €/ Anruf; Mobilfunkpreise maximal 0,60 €/ Anruf) <a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a>
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.
        br
        p Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital unserer Unternehmen.
        br
        p Schlichtungsstellen:
        br
        p Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin
        p <a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000
        br
        p Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin
        p <a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000
        br
        p Rechtshinweise: Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit, Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich deutsches Recht.
        br
        p Haftungsausschluss für Verweise und Links: XXV Versicherungsmakler GmbH & Co. KG übernimmt keine Haftung für Links/ Verweise zu anderen Internet-Seiten. XXV Versicherungsmakler GmbH & Co. KG hat keinen Einfluss auf die Gestaltung und auf die Inhalte der verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.
        br
        p Hinweis zur EU-Verordnung Online-Streitbeteiligung (OS-Plattform):
        p Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie hier finden <a href="http://ec.europa.eu/consumers/odr/" target='_blank'> http://ec.europa.eu/consumers/odr/</a>. Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.
        br
        p Icons von <a href="#" target='_blank'>icons8</a>
